*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
header{
    background: black;
}
header img{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 35px;
    padding: 30px 0 0;
    height: 90px;
    width: 175.7;
}
body{
    display: flex;
    background-image: url("https://vcbdigibank.vietcombank.com.vn/assets/images/web/img/bg-login/noon/1920.jpg");
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    width: 420px;
    height: 723.91px;
    background: rgba(243, 237, 237, 0.842);
    border: 2px solid rgba(243, 237, 237, 0.842);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    justify-items: center;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px 25px 30px;
}
.logo{
    justify-content: center;
    text-align: center;
}
.logo img{
    margin-bottom: 20px;
}
.logo p{
    margin-bottom: 30px;
}

.note-box{
    border: 2px solid rgba(243, 237, 237, 0.842);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: -3px 0px #7eaf00;
}
.note-box p{
    font-size: 15px;
    line-height: 1.3;
}
.note-box a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #72bf00;
    font-size: 13px;
}
.input-box{
    position: relative;
    width: 370px;
    height: 36px;
    border-bottom: 1px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;  
    top: 50%; 
    left: 5px;
    transform: translateY(-50%);
    font: 1em;
    color:#162938 ;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    font-size: 1em;
    
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
}
.input-box .icon{
    
    border: 1px rgba(245, 245, 245, 0.9);
   margin-left: 50px;
   border-radius: 10px;
   padding: 10px;
   top: 0px;
   left: 88%;
   text-align: center;
   background-color: rgba(245, 245, 245, 0.6);
   margin-top: -5px;
   position: absolute;
   font-size: 1.2em;
   color: #162938;
}
.codecheck .icon{
    left: 133%;
}
.codecheck img{
    position: absolute;
    left: 105%;
    width: 100px;
    top: 4px;
}
.password{
    width: 321px;
}
.codecheck{
    width: 211px;
}
.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.text-center a{
    text-decoration: none;
    margin-top: 10px;
    color: #162938;
}
.btn{
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, rgba(116,242,17,1) 0%, rgba(49,125,14,1) 78%);
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
